services:
  db:
    image: postgis/postgis:15-3.4
    container_name: taxi-db
    environment:
      POSTGRES_USER: taxi_user
      POSTGRES_PASSWORD: taxi_password
      POSTGRES_DB: taxi_db
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data: